a {
    color: black;
}

.recipe-image {
    pointer-events: auto;
    max-width: 90%;
    max-height: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circle-image-container {
  width: 80%;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.like-button {
    background-color: transparent;  /* No background */
    border: none;                  /* No border */
    color: inherit;                 /* Inherit the text color */
    cursor: pointer;                /* Pointer cursor on hover */
    font-size: 16px;                /* Adjust text size */
    padding: 0;
}

/* Optional: Add hover effects */
.like-button:hover {
    font-size: 20px;     /* Optional: underline on hover */
}

.recipe-source {
    height: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    background: orange;
    outline: none;
}
input[type="range"]:active::-webkit-slider-thumb {
  background: #FCDC7C;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb:focus {
  outline: none;
  box-shadow: none; /* Remove the focus shadow */
}
input[type="range"]::-moz-range-thumb {
  background: orange
}
input[type="range"]:active::-moz-range-thumb {
  background: #FCDC7C;
}
input[type="range"]:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.no-margin {
    margin: 0;
}


.comment {
  padding-top: 20px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  margin:0;
}

.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:13px;
}

.btn-primary {
    background-color: orange;
    border-color: orange;
}

.btn-primary:hover {
    background-color: #FFC107;
    border-color: #FFC107;
}

.btn-primary:active {
    background-color: #FCDC7C !important;
    border-color: #FCDC7C !important;
}

main {
    background-color: #fff3e3;
    background-image: linear-gradient(to bottom, #FFD17D, white);
}

.main-content {
    padding-top: 20px;
    background-color: white
}

.side-pad {
    padding-left: 50px;
    padding-right: 50px;
}

#asdfasdf {
    height: 100px;
}


.form-floating input,
.form-floating textarea {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.form-floating input:focus,
.form-floating textarea:focus {
  box-shadow: none;
}
.form-floating label {
  color: #6c757d;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #80c2d0;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 133, 161, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
          margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}

.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext:focus {
  outline: 0;
}
.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.form-control-sm::file-selector-button {
  padding: 0.25rem 0.5rem;
  margin: -0.25rem -0.5rem;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem + 2px);
}
textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
}
textarea.form-control-lg {
  min-height: calc(1.5em + 1rem + 2px);
}

.form-control-color {
  width: 3rem;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem;
}
.form-control-color:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control-color::-moz-color-swatch {
  border: 0 !important;
}
.form-control-color.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
}
.form-control-color.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
}




.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 340px;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th,
    td {
      border: 0;
    }
  }
  th,
  td {
    font-weight: normal;
    text-align: left;
    border-top: 1px solid black;
    white-space: nowrap;
    padding: 0;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th,
    td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.7rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  width: 100%;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th,
  td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  width: 100%;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}


.performance-facts__table #lkcal-val-cal {
    font-size: 33px;
    border: 0 none !important;
}
.performance-facts__table .nob {
    font-size: 35px;
    font-weight: 600;
}
.performance-facts__table .nob {
    border: 0 none !important;
}



.right-align {
    float: right;
}



--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

--bs-body-font-family: var(--bs-font-sans-serif);