{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto min-vh-100 main-content">
        <h1 style="">
          {% if editing %}
          Editing '{{ recipe_title | titlecase }}'
          {% else %}
          Create a New Recipe!
          {% endif %}
        </h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p style="color: red">{{ message|safe }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}
        {{ render_form(form, novalidate=True) }}

      </div>
    </div>
  </div>
</main>
<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<script>
  tinymce.init({
    selector: 'textarea:not(.noMCE)',
    menubar: false,
    plugins: [
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
    ],
    toolbar: 'undo redo | numlist bullist | bold italic underline | link image | emoticons',
  });
</script>

{% include "footer.html" %}