{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 mb-5 min-vh-100 main-content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p style="color: red">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h1>AI Recipe Generator</h1>
      <h4>(Open Beta Testing)</h4>
      <h5>Please enter ingredients you'd like to use + type of cuisine (optional)</h5>
      {{ render_form(form, novalidate=True) }}
      {% if ai_recipe_gen %}
        <br>
        {{ recipe|safe }}
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('save_ai_recipe') }}">
            <button type="submit" class="btn btn-primary">Save Recipe</button>
        </form>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>


{% include "footer.html" %}