{% include "header.html" %}

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 min-vh-100 main-content">
        {% if request.method == 'GET' %}
        <h1>Questions, Comments, Concerns?</h1>
        {% else %}
        <h1><em>Message successfully sent!</em></h1>
        {% endif %}
        <p class="my-4">
          Got suggestions? Think you've encountered a bug? Like the website? I'm all ears!
          <br>
          Shoot me a message detailing anything you'd like to share, and I'll respond as soon as I can.
        </p>
        <div>
          <form
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('contact') }}"
            method="post"
          >
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Enter your name..."
                required
              />
              <label for="name">Name</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email..."
                required
              />
              <label for="email">Email address</label>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Enter your phone number..."
              />
              <label for="phone">Phone Number (Optional)</label>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                style="height: 12rem"
                required
              ></textarea>
              <label for="message">Message</label>
            </div>
            <br />
            <button
              class="btn btn-primary"
              id="submitButton"
              type="submit"
            >
              Submit!
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}