{% include "header.html" %}


<div id="root"></div>
<script type="module" src="{{ url_for('static', filename='react/index.js') }}"></script>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 min-vh-100 main-content">
      <div class="d-flex justify-content-between mb-4">
        <a class="btn btn-primary float-right"
           href="{{url_for('ai_recipe')}}">Try our new AI recipe generator!</a>
        <!-- New Recipe -->
        {% if current_user.is_authenticated %}
        <a class="btn btn-primary float-right"
           href="{{url_for('add_recipe')}}">Share New Recipe!</a>
        {% endif %}
        </div>
      <!-- Recipe preview-->
      {% for recipe in recipes %}
      <div class="mx-5">
        <a href="{{ url_for('display_recipe', recipe_title=recipe.title) }}">
          {% if recipe.image_filepath %}
            <img src="{{ url_for('static', filename=recipe.image_filepath) }}"
               class="recipe-image">
          <br>
          {% elif recipe.image_url %}
            <img src="{{ recipe.image_url }}"
               class="recipe-image">
          <br>
          {% endif %}
        </a>
        <h2>
          <a href="{{ url_for('display_recipe', recipe_title=recipe.title) }}">
          {{ recipe.title | titlecase }}</a>
        </h2>

        <div>
        <span id="likes-count-{{ recipe.id }}">{{ recipe.liked_by_users|length }}</span>
        <button class="like-button" data-recipe-id="{{ recipe.id }}">
          {% if likes[recipe.id] %}
            🧡
          {% else %}
            💛
          {% endif %}
        </button>
        </div>

        {% if recipe.description %}
        <p style="padding-top:10px">{{ recipe.description }}</p>
        {% endif %}
        <p>By
          <a href="{{ url_for('display_profile', user_name=recipe.author.name) }}">{{ recipe.author.name }}</a>
<!--          {% if recipe_source %}-->
<!--          <a href="{{ recipe_url }}" class="ms-2" target="_blank" rel="noopener noreferrer">-->
<!--              <img src="{{ url_for('static', filename=recipe_source) }}" class="recipe-source" alt="Recipe Source">-->
<!--          </a>-->
<!--          {% endif %}-->
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Recipe -->
      {% if current_user.is_authenticated %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary float-right"
           href="{{url_for('add_recipe')}}">Share New Recipe!</a>
      </div>
      {% endif %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary" href="#!">More Recipes →</a>
      </div>
    </div>
  </div>
</div>
<style>
  h2, h5 {
    display: inline;
    margin: 0;
    vertical-align: middle;
  }

  h2 a {
    text-decoration: none;
  }

  h2 a:hover {
    text-decoration: underline;
  }
</style>


{% include "footer.html" %}