{% include "header.html" %}

<div class="container px-4 px-lg-5 min-vh-100 main-content">
  <div class="row">
    <div class="col-sm-12 col-md-4" style="background-color: #D7EBFD; text-align:center">
      {% if current_user.id == user.id %}
      <div class="d-flex justify-content-start mb-4">
        <a class="btn btn-primary float-right"
           style="margin-right: 10px"
           href="{{url_for('edit_profile') }}">Edit Profile
        </a>
      </div>
      {% endif %}
      {% if current_user.image_filepath %}
      <div class="circle-image-container">
        <img src="{{ url_for('static', filename=user.image_filepath) }}" class="circle-image">
      </div>
      {% endif %}
      <h1>
        {{ user.name }}'s Profile
      </h1>
      {% if user.description %}
      <h5>{{ user.description }}</h5>
      {% endif %}
    </div>
    {% if current_user.id == user.id %}
    <div class="col-sm-12 col-md-4 py-4" style="background-color: #D7FDD7">
      <h2 style="text-align:center">Your Recipes</h2>
      <hr>
      {% for recipe in recipes %}
      <div class="mx-5">
        {% if recipe.image_filepath %}
        <img src="{{ url_for('static', filename=recipe.image_filepath) }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% elif recipe.image_url %}
        <img src="{{ recipe.image_url }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% endif %}
        <h4>
          <a href="{{ url_for('display_recipe', recipe_title=recipe.title) }}">
            {{ recipe.title | titlecase }}
          </a>
        </h4>
      </div>
      <hr class="my-4"/>
      {% endfor %}
    </div>
    <div class="col-sm-12 col-md-4 min-vh-100 py-4" style="background-color: #FFD7F0">
      <h2 style="text-align:center">Liked Recipes</h2>
      <hr>
      {% for recipe in liked_recipes %}
      <div class="mx-5">
        {% if recipe.image_filepath %}
        <img src="{{ url_for('static', filename=recipe.image_filepath) }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% elif recipe.image_url %}
        <img src="{{ recipe.image_url }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% endif %}
        <h4>
          <a href="{{ url_for('display_recipe', recipe_title=recipe.title) }}">
            {{ recipe.title | titlecase }}
          </a>
        </h4>
      </div>
      <hr class="my-4"/>
      {% endfor %}
    </div>
    {% else %}
    <div class="col-sm-12 col-md-8 min-vh-100 py-4" style="background-color: #D7FDD7">
      <h2 style="text-align:center">{{ user.name }}'s Recipes</h2>
      <hr>
      {% for recipe in recipes %}
      <div class="mx-5">
        {% if recipe.image_filepath %}
        <img src="{{ url_for('static', filename=recipe.image_filepath) }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% elif recipe.image_url %}
        <img src="{{ recipe.image_url }}"
             class="recipe-image"
             style="max-width: 90%;">
        <br>
        {% endif %}
        <h4>
          <a href="{{ url_for('display_recipe', recipe_title=recipe.title) }}">
            {{ recipe.title | titlecase }}
          </a>
        </h4>
      </div>
      <hr class="my-4"/>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% include "footer.html" %}
